<h1>LiveOnlineGames-My-Saved-Games</h1>
<p>Shows all my saved games I can comment on</p>

<ul>
  <% @games.each do |game| %>
    <li><%= @game.team_A %> vs. <%= @game.team_B %>
        <% @game.comments.each do |comment| %>
            <p><%= comment.comment_is %></p>
        <% end %>
        <p><%= link_to "Add Comment", new_game_comment_path(@game) %></p>
    </li> 
  <% end %>
</ul>