<h1>Editing liked team</h1>

<%= render "form", liked_team: @liked_team %>

<br>

<div>
  <%= link_to "Show this liked team", @liked_team %> |
  <%= link_to "Back to liked teams", liked_teams_path %>
</div>
